
*{
	padding:0;
	margin: 0;
	box-sizing: border-box;
	 background-color: rgb(88, 71, 200);
}
.head{
	font-size: 28px;
	margin: 33px 622px;
	color: aliceblue;
	
}
.container{
margin-left: 453px;	
	width: 500px;
	height: 500px;
	border: none;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 5px 10px rgb(48, 46, 52);;

}

.input{
	width:231px;
	padding:10px;
	margin-bottom: 23px;
	font-size: 25px;
	font-weight: bold;
	border:  none;
	outline: none;
	box-shadow: 0px 2px 5px rgb(50, 49, 49);
	background-color: rgb(171, 200, 226);
	border-radius: 6px;
}

.btn{
	padding: 9px;
	margin: 5px;
	background-color: rgb(93, 122, 152);
	font-weight: bold;
	font-size: 25px;
	border-radius: 5px;
	border: none;
	outline: none;
	width: 45px;
	color: aliceblue;
	transition: 0.5s all;
	box-shadow: 0 3px 5px #333;
}

.btn:hover{
	background-color:rgb(184, 173, 161); ;

}